@model prueba.Models.alumno

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>alumno</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.direccion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.alumnoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
